<!-- my_launch_file.launch -->
<launch>
  <!-- Define a parameter for the serial port -->
  <arg name="port" default="/dev/ttyUSB0"/>

  <!-- Launch your node with the specified serial port parameter -->
  <node pkg="gps_driver" type="standalone_driver.py" name="gps_node" output="screen">
    <param name="serial_port_param" type="str" value="$(arg serial_port)"/>
  </node>
</launch>
